fastapi
uvicorn[standard]
langchain
pydantic
sqlalchemy
psycopg2-binary
redis
python-multipart
qdrant-client
langchain-community
modelscope
sentence-transformers
pypdf
docx2txt
python-pptx
openai
alibabacloud-bailian20231229==2.8.1
alibabacloud-tea-openapi>=0.3.0