fastapi
uvicorn[standard]
PyJWT
passlib[bcrypt]
bcrypt==4.1.3
langchain
pydantic
sqlalchemy
psycopg2-binary
redis
python-multipart
langchain-community
pypdf
docx2txt
python-pptx
openai
alibabacloud-bailian20231229==2.8.1
alibabacloud-tea-openapi>=0.3.0